@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  line-height: 1.4;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) purple;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: purple;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border: 3px solid purple;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-inline: 2rem;
  margin: 0 auto;
}
//7f00fe
//7f00fd
body {
  //background-image: linear-gradient(#6c0be0, #ba00fd);
  //background-repeat: no-repeat;
  background-image: url("assets/background.png");
  background-color: #6c02d6;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.member {
  position: relative;
  border: #fff 4px solid;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.336);
  flex-direction: column;
  width: 250px;
}
.member-title {
  border-top: #fff 4px solid;
}
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.icon {
  width: 45px;
  height: 45px;
  margin: 1rem;
}
.flex-column {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.moto {
  margin-top: 1em;
}

#team-wrapper {
  position: relative;
  padding-top: 1em;
  flex-direction: column;
  border-top: 1px solid white;
  //background-image: url("assets/themedbackgroundflipped.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #c651c66e;
  gap: 1em;
  div {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
  }
  .member-title,
  .member-name {
    font-size: 1.1rem;
    overflow-wrap: break-word;
    inline-size: 200px;
    margin-block: 1em;
    height: 50px;
    padding: 0.5em;
    letter-spacing: 0.1em;
    width: 100%;
  }
}
.main-body-image {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: #c435c442;
}
.carimg img {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.carimg {
  display: flex;
  align-items: center;
  animation: 1s ease-out 0s 1 slideInFromRight;
}
.members {
  flex-direction: column;
  gap: 1em;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(1.6rem, 2.5vw, 3rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-transform: none;
  }
}
.title_name {
  font-weight: 900;
  margin-top: 1rem;
}

.title_name,
#team-title {
  font-size: clamp(2.3rem, 5vw, 6rem);
}

.topnav {
  display: flex;
  background-color: rgba(255, 15, 255, 0.466);
  justify-content: space-between;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.315);
}

.logos {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#f1logo {
  margin-block: 1rem;
  width: calc(125px + 1rem);
}
.teamlogo {
  width: 100px;
  height: auto;
}

#arrow-container {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  animation: 2s ease-out 0s 1 slideInFromTop;
}
#navarrow {
  width: 35px;
  height: 25px;
  margin: 0;
}
.icon-wrapper {
  display: flex;
  align-content: center;
}
@media screen and (min-width: 600px) {
  .flex-column {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    height: 100vh;
    .topnav {
      min-width: fit-content;
      display: flex;
      flex-direction: column;
    }
  }
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }
  .title {
    height: 50%;
    text-align: left;
  }
  .main-body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .members {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .member {
    margin-block: 1rem;
  }
  #nav {
    border-right: 1px white solid;
    padding-block: 2rem;
  }
  .socialnav {
    display: flex;
    flex-direction: column;
    position: relative;
  } /*
  .socialnav::before {
    content: "";
    border: 1px solid white;
    width: 50%;
    right: 75%;
    left: 25%;
    position: absolute;
  }*/
}
@media screen and (min-width: 1000px) {
  .main-body {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    height: 75%;
    width: 35%;
  }
  .carimg {
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  #nav {
    border-bottom: 1px white solid;
  }
  .icon-wrapper {
    display: inline-block;
  }
  .socialnav {
    border-left: 1px white solid;
    display: flex;
    align-items: center;
  }
  .logos {
    margin-block: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon {
    width: 25px;
    height: 25px;
    margin: 0.5rem;
  }
  .teamlogo {
    width: 70px;
  }
  #f1logo {
    margin: 0;
  }
}
